<div class="root">
  <div class="container">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Please, Log-in or Sign-In</h5>
        <h6 class="card-subtitle mb-2 text-muted ">Loggin in will grant you access to this tool functionalities</h6>
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Insert your Username">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Insert your Password">
        <button type="button" class="btn btn-success" (click)="loginUser()">Login Me In</button>
        <div class="dropdown">
          <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Forgot your password?
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>Username: admin</li>
            <li>Password: admin</li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>

