.root{
  background-image: url(../../assets/302036-firewatch-wallpaper-1920x1080-pc.jpg);
  background-size: cover;
}


.card {
  color: white;
  background: rgb(175,209,109);
  background: linear-gradient(90deg, rgba(175,209,109,0.05646008403361347) 0%, rgba(170,170,89,0.17130602240896353) 45%, rgba(5,16,44,0.04525560224089631) 59%, rgba(170,170,89,0.04245448179271705) 67%, rgba(5,16,44,0.053658963585434205) 94%);
  -webkit-text-stroke: 1px black;
  font-size: 2rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.card-subtitle {
  color: white !important;
  font-size: 1.2rem;
  text-align: center;
}
h5 {
  -webkit-text-stroke: 1px black;
  font-size: 2rem;
  text-align: center;
}


