<div class="container">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Lastname</th>
    <th scope="col">Pec</th>
    <th scope="col">Telephone</th>
    <th scope="col">Company Name</th>
    <th scope="col">Type Of Business</th>
    <th scope="col">Functions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of customers.content">
    <th scope="row">{{item.id}}</th>
    <td>{{item.nomeContatto}}</td>
    <td>{{item.cognomeContatto}}</td>
    <td>{{item.pec}}</td>
    <td>{{item.telefono}}</td>
    <td>{{item.ragioneSociale}}</td>
    <td>{{item.tipoCliente}}</td>
    <td>
      <button type="button" class="btn btn-danger" (click)="deleteCustomer(item)">Delete</button>
      <button type="button" class="btn btn-success" (click)="updateCustomer(item)">Edit</button>

    </td>
  </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
   <li class="page-item" *ngFor="let item of customers.content; let i=index">
     <a class="page-link" (click)="getPaginations(i+0)">{{i+1}}</a>
   </li>
  </ul>
</nav>
</div>
