<div class="container">
  <h1>BILLS CONSULTING</h1>
<div class="card" style="width: 70rem;" *ngFor="let item of fatture.content">
  <div class="card-header">
    FATTURA N° {{item.numero}}
  </div>
  <div class="row">
    <div class="col">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">DATA: {{item.data}}</li>
    <li class="list-group-item">ANNO: {{item.anno}}</li>
    <li class="list-group-item">IMPORTO FATTURA: {{item.importo}}€</li>
    <li class="list-group-item">STATO FATTURA: {{item.stato.nome}}</li>
    <li class="list-group-item">RAGIONE SOCIALE: {{item.cliente.ragioneSociale}}</li>
    <li class="list-group-item">PARTITA IVA: {{item.cliente.partitaIva}}</li>
    <li class="list-group-item">TIPO CLIENTE: {{item.cliente.tipoCliente}}</li>
    <li class="list-group-item">E-MAIL: {{item.cliente.email}}</li>
    <li class="list-group-item">PEC: {{item.cliente.pec}}</li>
    <li class="list-group-item">TELEFONO: {{item.cliente.telefono}}</li>
    <li class="list-group-item">NOME CONTATTO: {{item.cliente.nomeContatto}}</li>
    <li class="list-group-item">COGNOME CONTATTO: {{item.cliente.conomeContatto}}</li>
    <li class="list-group-item">TELEFONO CONTATTO: {{item.cliente.telefonoContatto}}</li>
    <li class="list-group-item">EMAIL CONTATTO: {{item.cliente.emailContatto}}</li>
    <h4>INDIRIZZO SEDE OEPRATIVA</h4>
    <li class="list-group-item">VIA: {{item.cliente.indirizzoSedeOperativa.via}}</li>
    <li class="list-group-item">CIVICO: {{item.cliente.indirizzoSedeOperativa.civico}}</li>
    <li class="list-group-item">CAP: {{item.cliente.indirizzoSedeOperativa.cap}}</li>
    <li class="list-group-item">LOCALITA: {{item.cliente.indirizzoSedeOperativa.localita}}</li>
    <li class="list-group-item">COMUNE: {{item.cliente.indirizzoSedeOperativa.comune.nome}}</li>
    <li class="list-group-item">PROVINCIA: {{item.cliente.indirizzoSedeOperativa.comune.provincia.nome}} - ({{item.cliente.indirizzoSedeOperativa.comune.provincia.sigla}})</li>
    <h4>INDIRIZZO SEDE LEGALE</h4>
    <li class="list-group-item">VIA: {{item.cliente.indirizzoSedeLegale.via}}</li>
    <li class="list-group-item">CIVICO: {{item.cliente.indirizzoSedeLegale.civico}}</li>
    <li class="list-group-item">CAP: {{item.cliente.indirizzoSedeLegale.cap}}</li>
    <li class="list-group-item">LOCALITA: {{item.cliente.indirizzoSedeLegale.localita}}</li>
    <li class="list-group-item">COMUNE: {{item.cliente.indirizzoSedeLegale.comune.nome}}</li>
    <li class="list-group-item">PROVINCIA: {{item.cliente.indirizzoSedeLegale.comune.provincia.nome}} - ({{item.cliente.indirizzoSedeLegale.comune.provincia.sigla}})</li>
    <button type="button" class="btn btn-danger" (click)="removeFatture(item)">Delete Bill</button>
  </ul>
</div>
</div>
</div>





