<form class="container">
  <h1>CLIENT UPDATE</h1>
  <div class="mb-3">
      <label for="companyname" class="form-label">Company Name</label>
      <input type="text" name="name" class="form-control" id="name" [(ngModel)]="customer.ragioneSociale">
  </div>
  <div class="mb-3">
      <label for="vat" class="form-label">Vat Number</label>
      <input type="text" name="piva" class="form-control" id="vat" [(ngModel)]="customer.partitaIva">
  </div>
  <div class="mb-3">
      <label for="typeofclient" class="form-label">Type of Client</label>
      <input type="text" name="typeofclient" class="form-control" id="typeofclient" [(ngModel)]="customer.tipoCliente">
  </div>
  <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input type="text" name="email" class="form-control" id="email" [(ngModel)]="customer.email">
  </div>
  <div class="mb-3">
      <label for="pec" class="form-label">Pec</label>
      <input type="text" name="pec" class="form-control" id="pec" [(ngModel)]="customer.pec">
  </div>
  <div class="mb-3">
    <label for="telephone" class="form-label">Telephone</label>
    <input type="text" name="telephone" class="form-control" id="telephone" [(ngModel)]="customer.telefono">
</div>
<div class="mb-3">
  <label for="cname" class="form-label">Contact Name</label>
  <input type="text" name="cname" class="form-control" id="cname" [(ngModel)]="customer.nomeContatto">
</div>
<div class="mb-3">
  <label for="lastname" class="form-label">Contact Lastname</label>
  <input type="text" name="lastname" class="form-control" id="lastname" [(ngModel)]="customer.cognomeContatto">
</div>
<div class="mb-3">
  <label for="ctelephone" class="form-label">Contact Telephone</label>
  <input type="ctelephone" name="ctelephone" class="form-control" id="ctelephone" [(ngModel)]="customer.telefonoContatto">
</div>
<div class="mb-3">
  <label for="cmail" class="form-label">Contact E-Mail</label>
  <input type="text" name="cmail" class="form-control" id="cmail" [(ngModel)]="customer.emailContatto">
</div>
<div class="mb-3 my-5">
  <h2>OPERATIONAL HEADQUARTERS</h2>
  <label for="street" class="form-label">Street</label>
  <input type="text" name="ostreet" class="form-control" id="street" [(ngModel)]="customer.indirizzoSedeOperativa.via">
</div>
<div class="mb-3">
  <label for="number" class="form-label">Street Number</label>
  <input type="number" name="onumber" class="form-control" id="number" [(ngModel)]="customer.indirizzoSedeOperativa.civico">
</div>
<div class="mb-3">
  <label for="zcode" class="form-label">Zip Code</label>
  <input type="text" name="zcode" class="form-control" id="zcode" [(ngModel)]="customer.indirizzoSedeOperativa.cap">
</div>
<div class="mb-3">
  <label for="city" class="form-label">City</label>
  <input type="text" name="city" class="form-control" id="website" [(ngModel)]="customer.indirizzoSedeOperativa.localita">
</div>
<select class="browser-default custom-select">
  <option selected *ngFor="let item of comune.content"[ngValue]="item">{{item.nome}}</option>
</select>

<div class="mb-3 my-5">
  <h2>SEDE LEGALE</h2>
<label for="ostreet" class="form-label">Street</label>
  <input type="text" name="ostreet" class="form-control" id="ostreet" [(ngModel)]="customer.indirizzoSedeLegale.via">
  </div>
<div class="mb-3">
  <label for="onumber" class="form-label">Street Number</label>
  <input type="text" name="onumber" class="form-control" id="onumber" [(ngModel)]="customer.indirizzoSedeLegale.civico">
</div>
<div class="mb-3">
  <label for="ozipcode" class="form-label">Cap</label>
  <input type="text" name="ozipcode" class="form-control" id="ozipcode" [(ngModel)]="customer.indirizzoSedeLegale.cap">
</div>
<div class="mb-3">
  <label for="ocity" class="form-label">City</label>
  <input type="text" name="ocity" class="form-control" id="ocity" [(ngModel)]="customer.indirizzoSedeLegale.localita">
</div>
<select class="browser-default custom-select">
  <option selected *ngFor="let item of comune.content">{{item.nome}}</option>
</select>


<div class="mb-3 my-5">
  <h3>Informations</h3>
  <label for="website" class="form-label">Insertion Date</label>
  <input type="text"  class="form-control"  [(ngModel)]="customer.dataInserimento">
</div>
<div class="mb-3">
  <label for="website" class="form-label">Last Contact</label>
  <input type="text"  class="form-control"[(ngModel)]="customer.dataUltimoContatto">
</div>
<div class="mb-3">
  <label for="website" class="form-label">Annual Turnover</label>
  <input type="text" class="form-control" [(ngModel)]="customer.fatturatoAnnuale">
</div>
  <button type="submit" class="btn btn-primary" (click)="saveCustomer()">Save</button>
</form>

