<div class="container">
<div class="root">
    <div class="card" style="width: 70rem;">
      <div class="card-body">
        <h5 class="card-title">Sign-In</h5>
        <label for="username">E-Mail</label>
        <input type="email" class="form-control" name="username" placeholder="Insert your E-mail" [(ngModel)]="utente.email">
        <h6 class="card-subtitle mb-2 text-muted ">Signin in will grant you access to this tool functionalities</h6>
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Insert your Username" [(ngModel)]="utente.username">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Insert your Password" [(ngModel)]="utente.password">
        <button type="button" class="btn btn-success" (click)="signMeIn()">Sign Me In</button>
        <div class="dropdown">
        </div>
      </div>
    </div>
    </div>
  </div>

