
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#" routerLink="/bills" routerLinkActive="active">Billing Consulting</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/customers" routerLinkActive="active">Customers Registry</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="/signin" routerLinkActive="active">Registrati</a>
  </li>
  +<li class="nav-item">
    <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active">Log-Out</a>
  </li>
</ul>
