.nav {
  background: rgb(42,88,76);
  background: linear-gradient(90deg, rgba(42,88,76,1) 26%, rgba(222,189,85,1) 40%, rgba(226,154,77,1) 49%, rgba(34,67,58,1) 63%, rgba(61,163,116,1) 91%);
}
.nav-item a {
  color: white;
  font-size: 1.2rem;
}
