<form class="container">
  <h1>CREATE A BILL</h1>



  <div class="mb-3">
    <label for="companyname" class="form-label">Numero Fattura</label>
    <input type="text" name="name" class="form-control" id="name" [(ngModel)]="fattura.numero">
</div>
<div class="mb-3">
  <label for="companyname" class="form-label">Anno Fattura</label>
  <input type="text" name="name" class="form-control" id="name" [(ngModel)]="fattura.anno">
</div>
<div class="mb-3">
  <label for="companyname" class="form-label">Importo Fattura</label>
  <input type="text" name="name" class="form-control" id="name" [(ngModel)]="fattura.importo">
</div>

<button type="submit" class="btn btn-primary" (click)="saveBill()">Save</button>
</form>

