<div class="container">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">A SIMPLY, YET POWERFUL TOOL FOR YOUR BUISNESS</h5>
    <p class="card-text">By using this Single-Page Application powered by Angular, You can rely on an intuitive interface that will guide You trough your Buisness Billing Administration.</p>
    <a href="#" class="btn btn-primary">FIND OUT MORE</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CREATE A NEW BILL</h5>
        <p class="card-text">Manage your buisness by creating a New Bill for You to see in the Billing Consulting Section. </p>
        <a href="#" routerLink="/bcreate" routerLinkActive="active" class="btn btn-primary">ADD A NEW BILL</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">CREATE A NEW CUSTOMER PROFILE </h5>
        <p class="card-text">Manage your buisness by creating a New Customer Profile for You to see in the Customer Registry Section. </p>
        <a href="#" routerLink="/customerscreate" routerLinkActive="active" class="btn btn-primary">ADD A NEW CUSTOMER</a>
      </div>
    </div>
  </div>
</div>
<div class="card text-center" id="wider-card">
  <div class="card-header">
    Developed By Stefano Pisano
  </div>
  <div class="card-body">
    <h5 class="card-title">MY PERSONAL EPICODE'S FINAL PROJECT</h5>
    <p class="card-text">This S.P.A. was created with the purpose to be the final project to my Epicode Web Developer's course. <br>
    My Personal Goal is to pursue this career and learn more about the Web Developing's World Whom I now belong, to guarantee myself the personal growth I aspire to have. </p>
    <a href="https://www.linkedin.com/in/stefano-pisano-034521197/" class="btn btn-primary ">VISIT MY LINKEDIN PROFILE</a>
  </div>
</div>
</div>
